#sortable1, #sortable2 {
		border: 1px solid green;
		min-height: 20px;
		list-style-type: none;
		padding: 5px 0 0 0;
    }
	#sortable1 li, #sortable2 li {
		margin:5px;
		padding: 5px;
		font-size: 1.2em;
		width: 320px;
		border: 1px solid yellow;
		text-align:center;
		cursor:pointer;
		background:#FF5E1E;
		box-shadow: 0 0 2px rgba(0,0,0,0.5);
    }
  h3 {
		margin : 0px;
		padding:0px;
		width: 350px;
		text-align:center;
    }
  div {
		float: left;
		margin-right: 10px;		
    }
  .check {
		float:none;
		width: 350px;
   }
  .check input {
		width:100px;
		height:30px;
   }
   .end:before{
	content:"“олько мастер устроилс€ в своем любимом чайном доме, как к нему подошел молодой послушник узнать его мнение о коде, который он написал. ћастер изучил листинг и обнаружил, что каждый метод в нем тщательно задокументирован. ƒл€ метода setName класса Person было указано, что он устанавливает им€ человека; метод getName подтверждал, что он возвращает им€, установленное setName; и даже метод toString кл€лс€, что он вернет строку. ћастер отбросил листинг и сидел в молчании. „ерез некоторое врем€ послушник спросил, недоволен ли он. Ђ»нтересный вопрос,ї Ч ответил мастер и указал на код, Ч Ёто бумага, лежаща€ на татами. Ќа бумаге чернила. „ернила складываютс€ в много слов. Ќа кипарисе снаружи сидит птица. ” птицы два крыла с перь€ми и два глаза... ќн продолжал в том же духе, пока послушник не покраснел. ќн собрал свой код и удалилс€, пристыженный, но просветленный."
   }